*{
 margin: 0;
 
}
h1 {
  text-align: center;
  font-size: 50px;
}
p {
  word-spacing: 5px;
  padding: 25px 70px 40px;
  text-align: center;
  font-size: larger;
}
header { 
  background:#3e4444;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 20px;
  border-bottom: black solid;
  
}
a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  
}
a:hover {
  color: #FF0000;
  border: black;
}
main {
  height:700px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center ;
  }
  100% {
    background-position: left center;
  }
}
 

footer{
  background:#3e4444;
  color: #fff;
  margin: 0;
  text-align: right;
  padding: auto;
  height: auto;
}
.top10list {
  
  height: 300px;
  width: 1000px;
  color:  #fff;
  text-align: center ;
  overflow: scroll;
  padding-top: 70px;
  margin: 0 auto 0 auto;
  
}
.bio {
  height: 300px;
  text-align: left ;
  overflow: scroll;
  width: 1000px; ;
  margin: 0 auto 0 auto;
  color: #fff;

}
.bio p {
  padding: 10px;
  
  text-align:  justify ;
  margin: inherit;
}
h2 {
  font-size: 45px;
  margin: 30px auto 10px 10px;
  color: #3e4444
}
ul  li{
list-style-type:square;
padding-bottom: 25px;
font-size: 25px;


}
::-webkit-scrollbar {
  width: 0;  
  background:transparent;  
}
ol  li{
  list-style-type:decimal;
  padding-bottom: 25px;
  font-size: 25px;
margin-left: 0 auto 0 auto;
text-align: center;
list-style-position: inside;
}

  